
.page-body-projects {
  /* height: 90vh; */
  /* height: 100%; */
  height: max-content;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10vh 4% 5% 4%;
  /* background-color: red; */
}

/*----------------------------------------------------------------------------------------*/
/* Project Page */
/* Filter */
.filter {
  /* display: flex;
  flex-direction: row; */
  /* padding-top: 15px;
  padding-bottom: 15px; */
  /* gap: 10px;
  overflow: scroll; */

  position: relative;
  display: none;
}

.filter-area-show {
  display: block;
  /* background-color: ; */
}

/* .filter-button {
  top: 10px;
  right: 10px;;
} */

.tech-stack-list {
  display: flex;
  /* use flex-wrap here to auto pushing overflowed element to new line */
  flex-wrap: wrap;
  gap: 10px;
}

.tech-stack-element-filter-button {
  /* border-radius: 20px; */
  /* padding: 10px 15px;
  color: black;
  text-decoration: none; */

  /* Making text rendering to 1 line only, will not break to new line => revent text wrapping */
  white-space: nowrap;
}

.tech-stack-element-clicked {
  background-color: var(--button-color);
}

.tech-stack-element {
  border: 2px var(--button-text-color) solid;
  border-radius: 20px;
  padding: 10px 15px;
  color: var(--button-text-color);
  background-color: var(--button-color);

  text-decoration: none;

  /* Making text rendering to 1 line only, will not break to new line => revent text wrapping */
  white-space: nowrap;
}

/* End of filter area */

.projects-portion-title-frame {
  height: max-content;
}

.projects-portion-title {
  font-weight: bold;
}

.project-blog-box {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* padding: 2%; */
  gap: 7px;

  /* border: 4px #0096FF solid; */
  /* border-radius: 20px;
  backdrop-filter: hue-rotate(30deg);
  border: 0.5px var(--text-color) solid; */
  z-index: 1;
}

.project-blog-box>p {
  margin-bottom: 0;
  font-weight: 600;
}

.project-wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 2% 0;
  gap: 2%;
}

.project-list-tab {
  width: 32%;

  padding: 5%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: max-content;

  color: var(--text-color);
  border-radius: 20px;
  backdrop-filter: hue-rotate(30deg);
  border: 0.5px var(--text-color) solid;
  z-index: 1;
}

.project-clicked {
  background-color: var(--button-color);
  color: var(--button-text-color);
}

.project-list-tab:hover {
  /* border: 4px #8200FF solid; */
  /* backdrop-filter: brightness(92%); */
  backdrop-filter: hue-rotate(30deg);
}
  
.project-on-toDisplay {
  border: 2px var(--text-color) solid;
  padding: 5px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 700;
  padding: 5px 10px;

  height:fit-content;
}
  
.project-on-toDisplay:hover {
  color: var(--button-text-color-hover);
  background-color: var(--button-color-hover);
  border: 3px var(--text-color) solid;
  text-shadow: 0 0 10px var(--button-text-color-hover-shadow);
  transform: scale(1.1); 
}

.project-list-tab-header {
  color: var(--text-color);
  font-weight: 700;
  font-style: italic;
}

.project-list-tab-list-of-projects-onSmallDevice {
  display: none;
}

/*--------------------------------------------------*/
.projectbox-to-display-work {
  z-index: 11;

  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);

  display: flex;
  justify-content: center;
  align-items: center;
  
  animation: fadeIn 0.3s ease-in-out;

  /* Prevent popup from scrolling */
  /* overflow: hidden;  */
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.not-projectbox-to-display-work {
  display: none;
}

.work-box-close-button {
  position: absolute;
  top: 2vh;
  right: 2vh;
  justify-self: flex-end;
}

.project-box {
  /* width: 90%;
  height: 90vh; */
  background-color: black;
  overflow-y: auto; /* Enable vertical scrolling */
  width: 80%;
  height: 80%;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 11;
  border: 0.5px var(--text-color) solid;
}

.project-list-tab-list-of-projects {
  padding: 4% 7% 2%;
  display: flex;
  flex-direction: column;
  gap: 2%;
}

/*--------------------------------------------------*/
.project-render-wrap {
  width: 68%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2%;

  z-index: 1;
}

.project-render-first-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  height: max-content;
}

.project-render-src {
  width: 69%;
  border-radius: 20px;
  object-fit: cover;
}

.project-render-src-here {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 20px;
}

.project-name-and-participant {
  width: 29%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-name, .project-participant {
  height: 48%;
  border-radius: 20px;
  color: var(--text-color);

  padding: 5%;
  backdrop-filter: hue-rotate(30deg);
  border: 0.5px var(--text-color) solid;
}

.project-name h4 {
  color: var(--text-color);
}

/* .project-name:hover, .project-participant:hover {
  backdrop-filter: brightness(95%);
} */

.project-tech-stack  {
  width: 100%;
  border-radius: 20px;
  padding: 2%;
}

.project-description {
  width: 100%;
  border-radius: 20px;
  padding: 2%;

  backdrop-filter: hue-rotate(30deg);

  border: 0.5px var(--text-color) solid;
}

.go-Live-Buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .page-body-projects {
    width: 100vw;
    height: max-content;
    gap: 20px;
  }

  .project-wrap{
    flex-direction: column;
    padding: 2%;
  }

  .project-list-tab { 
    width: 100%;
  }

  .project-list-tab-list-of-projects-onSmallDevice {
    display: block;
  }

  .project-list-tab-list-of-projects-onLargeDevice {
    display: none;
  }

  .project-render-wrap {
    width: 100%;
    height: max-content;
    z-index: 1;
  }

  .project-render-first-block {
    flex-direction: column-reverse;
    gap: 5%;

    height: max-content;
  }

  .project-name-and-participant {
    width: 100%;
  }

  .project-render-src {
    width: 100%;
    height: max-content;
  }

  .project-render-src-here {
    width: 100%;
    height: 100%;
  }
}
  