.App {
  text-align: center;
  height: 100vh;
  width: 100%;
}

/*----------------------------------------------------------------------------------------*/
/* Skills Page */
.chartOfSkills {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: max-content;
}

.chart-of-skills-frame {
  width: 49%;
  display: flex;
  justify-content: center;
  aspect-ratio: 1/1;
}

.skills-set-component {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.skills-block {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 20px;
}

.skills-set-component-h2 {
  font-style: italic;
  color: #8200FF;
}

.individual-skill-set {
  width: 100%;
  border: 1px dotted #8200FF;
  border-radius: 20px;
  padding: 10px;
}

.skill-stack-list {
  display: flex;
  /* use flex-wrap here to auto pushing overflowed element to new line */
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .chartOfSkills {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .chart-of-skills-frame {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .skills-block {
    display: grid;
    grid-template-columns: 100%;
    gap: 20px;
  }
}

/*----------------------------------------------------------------------------------------*/
/* Works Page */
.work-page {
  color: #18134C;
  display: flex;
  flex-direction: row;

  /* margin-top: 4rem; */
  font-weight: 600;
}

.infoWorks {
  width: 100%;
  text-align: start;
  display: flex;
  flex-direction: column;

  align-items: center;

  color: #18134C;
}

.infoWorks h1 {
  margin-bottom: 2rem;
}

.internship {
  display: flex;
  flex-direction: row;
}

.company-position {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding-left: 10px;

  width: 95%;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.left h3 {
  color: #18134C;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.experience-description {
  border: 1px solid #18134C;
  border-radius: 20px;
  margin: 10px 0;
  padding: 10px;
}

.bio-box {
  width: 4em;
  height: 4em;
  border-radius: 15px;
}

/* Timeline ---------------*/
.timeline li {
  display: flex;
}

.timeline .w-e-time {
  position: relative;
  padding: 0 1.5em;
  width: 400px;
  text-align: right;
}

.timeline .w-e-time h4 {
  color: #18134C;
}

.timeline .w-e-time::after {
  content: "";
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    transform: translateX(50%);
    border-radius: 50%;
    background: #fff;
    border: 1px #ccc solid;
    width: .8em;
    height: .8em;
}

.timeline .w-e-job {
  padding: 0 1.5em 1.5em 1.5em;
  position: relative;
}

.timeline .w-e-job:hover {
  border: 1px #0096FF dotted;
  border-radius: 10px;
}

.timeline .w-e-job::before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  height: 100%;
  border-left: 1px #ccc solid;
}

.timeline { margin: 1em; }
.timeline, 
.timeline *::before, 
.timeline *::after { box-sizing: border-box; font-family: arial; }
/*-------------------------*/

@media screen and (max-width: 768px) {
  .company-position {
    display: flex;
    flex-direction: column;
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .imageWorks {
    display: none;
  }

  .infoWorks {
    width: 100%;
    color: #18134C;
  }
}

/*----------------------------------------------------------------------------------------*/
/* Work Details Page */
.work-detail-main-page {
  position: relative;
  width: 100%;
  height: 100%;
}

.back-to-work-button {
  position: absolute;
  top: 5px;
  left: 5px;
}

.w-d-job-details {
  width: 100%;
  margin-top: 20px;

  padding: 1em 10em;
}

.w-d-job-details-heading {
  display: flex;
  flex-direction: row;
  gap: 3em;
  margin-bottom: 3em;
}

.w-d-job-details-heading .w-d-job-details-role {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.w-d-job-details-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 2em;
}

.w-d-job-details-description-bulletpoint ul,
.w-d-job-details-description-bulletpoint h3  {
  text-align: left;
}

@media screen and (max-width: 768px) {
  .w-d-job-details {
    padding: 0;
  }

  .w-d-job-details-description {
    padding: 0;
  }
}

/*----------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------*/
/* Project Page */
/* Filter */
.filter {
  /* display: flex;
  flex-direction: row; */
  /* padding-top: 15px;
  padding-bottom: 15px; */
  /* gap: 10px;
  overflow: scroll; */

  position: relative;
  display: none;
}

.filter-area-show {
  display: block;
  /* background-color: ; */
}

/* .filter-button {
  top: 10px;
  right: 10px;;
} */

.tech-stack-list {
  display: flex;
  /* use flex-wrap here to auto pushing overflowed element to new line */
  flex-wrap: wrap;
  gap: 10px;
}

.tech-stack-element-filter-button {
  /* border-radius: 20px; */
  /* padding: 10px 15px;
  color: black;
  text-decoration: none; */

  /* Making text rendering to 1 line only, will not break to new line => revent text wrapping */
  white-space: nowrap;
}

.tech-stack-element-not-clicked {
  background-color: #72FFFF;
}

.tech-stack-element-clicked {
  background-color: gray;
}

.tech-stack-element {
  border: 2px solid #0096FF;
  border-radius: 20px;
  padding: 10px 15px;
  color: black;
  text-decoration: none;

  /* Making text rendering to 1 line only, will not break to new line => revent text wrapping */
  white-space: nowrap;
}

/* End of filter area */

.project-wrap {
  display: flex;
  flex-direction: row;
}

.project-list-tab {
  width: 30%;

  padding: 5%;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: max-content;

  /* border: 4px #0096FF solid; */
  border-radius: 20px;
  backdrop-filter: hue-rotate(30deg);
}

.project-clicked {
  background-color: #00D7FF;
}

.project-list-tab-header {
  color: #0096FF;
  font-weight: 700;
  font-style: italic;
}

.project-list-tab:hover {
  /* border: 4px #8200FF solid; */
  /* backdrop-filter: brightness(92%); */
  backdrop-filter: hue-rotate(30deg);
}

.project-list-tab a {
  color: #18134C;
  border: 2px #0096FF solid;
  padding: 5px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 700;

  height:fit-content;
}

.project-list-tab a:hover {
  background-color: #72FFFF;
  border: 3px #72FFFF solid;
  text-shadow: 0 0 10px #fff;
  transform: scale(1.1); 
}

.project-render-wrap {
  width: 70%;
  padding: 2% 5%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2%;
}

.project-render-first-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.project-render-src {
  width: 69%;
  border-radius: 20px;
}

.project-render-src-here {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 20px;
}

.project-name-and-participant {
  width: 29%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-name, .project-participant {
  height: 48%;
  border-radius: 20px;
  color: #18134C;

  padding: 5%;
  backdrop-filter: hue-rotate(30deg);
}

.project-name h4 {
  color: #18134C;
}

/* .project-name:hover, .project-participant:hover {
  backdrop-filter: brightness(95%);
} */

.project-tech-stack  {
  width: 100%;
  border-radius: 20px;
  padding: 2%;
}

.project-description {
  width: 100%;
  border-radius: 20px;
  padding: 2%;

  backdrop-filter: hue-rotate(30deg);
}

.go-Live-Buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .project-wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 5%;
  }

  .project-list-tab { 
    width: 100%;
  }

  .project-render-wrap {
    width: 100%;
  }
  .project-render-first-block {
    flex-direction: column-reverse;
    gap: 5%;
  }
  .project-name-and-participant {
    width: 100%;
  }

  .project-render-src {
    width: 100%;
  }
}


/*----------------------------------------------------------------------------------------*/
/* Contact Page */
.contact-page {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 32px;
}

.contact-info a {
  border: 2px #18134C solid;
  padding: 5px;
  border-radius: 20px;
  color: #18134C;
  width: auto;
}

.contact-info a span {
  color: #18134C;
}

.contact-label {
  color: #18134C;
  font-weight: 600;
}

.contact-area {
  background-color: #00D7FF;
}

.placeholder-Image {
  width: 100%;

  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.form-manage {
  border: 2px #18134C solid;
  border-radius: 20px;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .contact-info p {
    width: auto;
  }  
}

/*----------------------------------------------------------------------------------------*/
/* Responsive */
@media screen and (max-width: 769px) {
  html {
      font-size: 100%;
  }
}

@media screen and (max-width: 1200px) {
  #page-body {
    padding: 2rem 4rem;
    height: 100%;
  }

  .information {
    width: 100%;
  }
}