.App {
  text-align: center;
  height: 100vh;
  width: 100%;
}

.main { 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  width: 100%;
  height: 100%;

  /* padding: 0 2%; */
}

/*----------------------------------------------------------------------------------------*/
/* Responsive */
@media screen and (max-width: 600px) {
  html {
      font-size: 100%;
  }

  .main {
    padding: 0;
  }
}

@media screen and (max-width: 1200px) {
  .App {
    width: 100vw;
  }

  #page-body {
    padding: 2rem 4rem;
    height: 100%;
  }

  .information {
    width: 100%;
  }

  .main {
    width: 100vw;
  }
}