.App {
  text-align: center;
}

/*----------------------------------------------------------------------------------------*/
/*Nav bar*/
nav{
  border-bottom: 4px solid green;
  display: flex;
  top: 0;
  width: 100%;
  background: black;
}

nav h2 {
  text-align: left;
  color: white;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 24px 32px;
}

nav a:hover {
  background: green;
  color: white;
}

/*----------------------------------------------------------------------------------------*/
/*Page Body*/
#page-body {
  max-width: 700px;
  margin: auto;
  padding-top: 72px;
}

h1 {
  color: aliceblue;
}