/*----------------------------------------------------------------------------------------*/
/* Main Page */

.main-page {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20vh 4% 5% 4%;
    /* background-color: cyan; */
}

.profile-wrapper {
    /* width: 45%; */
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    gap: 20px;
}
  
.profile-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.profile-wrapper h3, h5 {
  color: var(--text-color);
}

.start-page-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2%;
  width: 100%;
}
/* 
.start-page-info h5 {
  font-weight: 600;
} */

.unique-icon-start {
  color: var(--text-color-highlight);
}

.view-more-btn:hover {
  transform: scale(1.25);
}

/* My image carousel */
.main-page-image-start {
  /* width: 45%; */
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#carouselExampleControls {
  width: 90%;
  height: 100%;
  box-shadow: 10px 12px 30px var(--text-color);
  border-radius: 15px;
}

.carousel-inner {
  width: 100%;
  height: 100%;
  /* aspect-ratio: 3/4; */
  border-radius: 15px;
}

.carousel-item {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

#presentative-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.start-cv-btn {
  margin-top: 1.5rem;
  padding: 0.7em 2.5em;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: 400;
  border: 0;

  background-color: var(--button-color);
  color: var(--button-text-color);
}

.start-cv-btn:hover {
  /* background-color: #72FFFF; */
  background-color: var(--button-color-hover);
  color: var(--button-text-color-hover);
  box-shadow: 0 0 10px #72FFFF;
  transition: all .3s ease-in-out;
  font-weight: 600;
  transform: scale(1.25); 
}

@media only screen and (max-width: 600px) {
  .main-page {
    height: max-content;
    flex-direction: column-reverse;
    padding-top: 8vh;
  }

  .profile-wrapper {
    width: 100%;
    align-items: center;
  }

  .main-page-image-start {
    width: 100%;
    height: 40vh;
    object-fit: fill;
    padding: 1.5% 1.5% 8% 1.5%;
  }
}

@media screen and (max-width: 768px) {
  .main-page {
    flex-direction: column-reverse;
    height: max-content;
  }

  .profile-wrapper {
    display: flex;
    text-align: start;
    align-items: center;
  }
}


@media screen and (max-width: 1100px) {
  .main-page {
    height: max-content;
  }

  .carousel-inner, .carousel-item {
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }
}