/*----------------------------------------------------------------------------------------*/
/*About Page*/ 
#page-body {
    /* padding: 2rem 8rem; */
    height: 100vh;
    /* width: 100%; */
}

.page-body {
    padding: 5%;
    height: 90vh;
    width: 100%;
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main-home-page {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
flex-direction: row;
margin-top: 5rem;
}

.dm-or-scrolldown {
position: absolute;
bottom: 20px;
right: 20px;

animation: dmJump 1s linear infinite;

display: flex;
flex-direction: row;
gap: 5px;
}

@keyframes dmJump {
0% { bottom: 20px;}
25% { bottom: 25px;}
50% { bottom: 30px;}
75% { bottom: 25px;}
100% { bottom: 20px;}
}

.dm-or-scrolldown-frame {
width: 64px;
height: 64px;

color: #8200FF;
}

.main-home-page-dm-tell {
display: none;
/* border: 1px solid #0096FF; */
background-color: #0096FF;
height: max-content;
border-radius: 20px;
padding: 0 5px;
}

.main-home-page-dm-tell>p {
margin: 0;
}

.dm-or-scrolldown:hover {
.main-home-page-dm-tell {
    display: block;
}  
}

/*Images*/
.images {
width: 30em;
height: 30em;
border-radius: 50%;
margin: auto;
}

.blue-bg-outer {
width: 28em;
height: 28em;
border-radius: 50%;
/* background: linear-gradient(270deg, #fff, blueviolet, #5800FF); */
/* background-color: #00D7FF; */
animation: frameColor 7s linear infinite;
/* backdrop-filter: brightness(50%); */
display: grid;
place-items: center;
}

@keyframes frameColor {
0% {
    background-color: #72FFFF;
}
20% {
    background-color: #00D7FF;
}
40% {
    background-color: #0096FF;
}
60% {
    background-color: #5800FF;
}
80% {
    background-color: #6C00FF;
}
100% {
    background-color: #793FDF;
}
}

.white-bg {
width: 26em;
height: 26em;
border-radius: 50%;
background: #F3F8FF;
display: grid;
place-items: center;
}

.blue-bg {
width: 24em;
height: 24em;
border-radius: 50%;
background: black;
}

.blue-bg img {
position: relative;
height: 100%;
width: 100%;
object-fit: cover;
border-radius: 50%;
}

/*Information*/
.information {
display: flex;
flex-direction: column;
align-items: flex-end; 

width: 50%;


color: black;
font-family: 'Times New Roman', Times, serif;
}

.information h1,span {
margin: 10px;
text-align: right;
color: black;
}

.aboutme-description {
font-weight: 500;
text-align: right;
}

.tech-stack-animation {
animation: techstacks-animation 5s linear infinite;
}

@keyframes techstacks-animation {
0% {
    color: #18134C;
}
20% {
    color: yellow;
}
40% {
    color: blue;
}
60% {
    color: green;
}
80% {
    color: red;
}
100% {
    color: orange;
}
}

.animated_text {
width: 100%;
}

.animated_text>h1 {
-webkit-text-stroke: 1px #18134C;
font-family: Arial, Helvetica, sans-serif;
font-weight: 600;
color: transparent;
background-repeat: no-repeat;
background-image: linear-gradient(90deg, #0096FF, #00D7FF, blue);
-webkit-background-clip: text;
background-clip: none;
background-position: -500px 0;
animation: backcolor 7s linear infinite;
text-shadow: 0 0 8px #00D7FF;
}

@keyframes backcolor {
100% {
    -webkit-text-stroke: 1px #97FEED;
    background-position: 0 0;
}
}

.otherLink {
display: flex;
flex-direction: row;
justify-content: flex-end;
gap: 10px;
width: 100%;
}

.about-infor {
color: #00D7FF;
}

.otherLink>a {
color: #0096FF;
border: 2px #0096FF solid;
padding: 5px;
border-radius: 20px;
text-decoration: none;

height:fit-content;
}

.otherLink a:hover {
color: #18134C;
background-color: #72FFFF;
border: 2px #72FFFF solid;
text-shadow: 0 0 10px #fff;
transform: scale(1.1); 
}

.cv-btn {
margin-top: 1.5rem;
padding: 0.7em 2.5em;
border-radius: 25px;
background-color: #0096FF;
font-size: 1rem;
font-weight: bold;
color: white;
border: 0;
}

.cv-btn:hover {
background-color: #72FFFF;
box-shadow: 0 0 10px #72FFFF;
transition: all .3s ease-in-out;
color: #18134C;

transform: scale(1.25); 
}

/* Scroll-down: Education */
#edu-block {
display: flex;
flex-direction: row;
width: 100%;
gap: 15px;
}

#edu-block-inf {
width: 50%;
padding: 3rem 0;
}

#edu-block-img-frame {
width: 50%;
}

.edu-block-image {
width: 100%;
aspect-ratio: 4/3;
border-radius: 20px;
}

@media screen and (max-width: 768px) {
.main-home-page {
    width: 100%;

    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 5%;
}

.images {
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;

    padding: 5% 5% 5% 5%;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-bg-outer {
    aspect-ratio: 1/1;
    width: 90%;
    height: 90%;
}

.white-bg {
    aspect-ratio: 1/1;
    width: 90%;
    height: 90%;
}

.blue-bg {
    aspect-ratio: 1/1;
    width: 90%;
    height: 90%;
}

.information {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.information h1, span{
    padding: 2%;
    text-align: center;
}

#edu-block {
    flex-direction: column-reverse;
}

#edu-block-inf {
    width: 100%;
}

#edu-block-img-frame {
    width: 100%;
}

}