
.page-body-works {
  /* height: 90vh; */
  /* height: 100%; */
  height: max-content;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15vh 4% 5% 4%;
  /* background-color: red; */
}

/*----------------------------------------------------------------------------------------*/
/* Works Page */
.work-page {
  display: flex;
  flex-direction: row;

  /* margin-top: 4rem; */
  font-weight: 600;

  height: 100%;
  width: 100%;
}

.infoWorks {
  width: 100%;
  text-align: start;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.infoWorks h1 {
  margin-bottom: 2rem;
}

.internship {
  display: flex;
  flex-direction: row;
}

.company-position {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding-left: 10px;

  width: 95%;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.experience-description {
  border: 1px solid #18134c;
  border-radius: 20px;
  margin: 10px 0;
  padding: 10px;
}

.bio-box {
  width: 4em;
  height: 4em;
  border-radius: 15px;
}

/* Timeline ---------------*/
.timeline li {
  display: flex;
}

.w-e-time {
  position: relative;
  padding: 0 1.5em;
  width: 25%;
  text-align: right;
  font-weight: 500;
  color: var(--text-color);
  border-right: 1px var(--text-color) solid;
}
.w-e-job {
    width: 75%;
    padding: 0.25em 1.5em 1.5em 1.5em;
    position: relative;
    cursor: pointer;
}

.timeline .w-e-job:hover {
  border: 1px var(--text-color) solid;
  border-radius: 10px;
}

.w-e-time::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(50%);
  border-radius: 50%;
  background: var(--text-color);
  border: 1px #ccc solid;
  width: 0.8em;
  height: 0.8em;
}


.left h3 {
    color: var(--text-color);
    font-weight: 500;
}

.left h5 {
    color: var(--text-color-highlight);
    font-weight: 600;
    font-style: italic;
}

.timeline .w-e-job::before {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  /* border-left: 1px #ccc solid; */
}

.timeline {
  margin: 1em;
}
.timeline,
.timeline *::before,
.timeline *::after {
  box-sizing: border-box;
  font-family: arial;
}

/*--------------------------------------------------*/
.we-to-display-work {
    display: block;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);

    display: flex;
    justify-content: center;
    align-items: center;
    
    animation: fadeIn 0.3s ease-in-out;

    /* Prevent popup from scrolling */
    /* overflow: hidden;  */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.not-we-to-display-work {
    display: none;
}

.work-box-close-button {
    position: absolute;
    top: 2vh;
    right: 2vh;
    justify-self: flex-end;
}

.work-box {
    /* width: 90%;
    height: 90vh; */
    background-color: black;
    overflow-y: auto; /* Enable vertical scrolling */
    width: 80%;
    height: 80%;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
    position: relative;
}

/*--------------------------------------------------*/

@media screen and (max-width: 768px) {
  .page-body-works { 
    width: 100vw;
  }
  
  .company-position {
    display: flex;
    flex-direction: column;
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .imageWorks {
    display: none;
  }

  .infoWorks {
    width: 100%;
    color: #18134c;
  }
}

/*----------------------------------------------------------------------------------------*/
/* Work Details Page */
.work-detail-main-page {
  position: relative;
  width: 100%;
  height: 100%;
}

.w-d-job-details {
  width: 100%;
  height: 100%;
  padding: 3% 7%;
}

.w-d-job-details-heading {
  display: flex;
  flex-direction: row;
  gap: 3em;
  margin-bottom: 3em;
}

.w-d-job-details-heading .w-d-job-details-role {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.w-d-job-details-role>p {
    font-size: 2.25em;
}

.w-d-job-details-company-highlight {
    color: var(--text-color-highlight);
    font-weight: 600;
}

.w-d-job-image-frame {
    width: 15%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    border-radius: 15px;
}

.w-d-job-image {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.w-d-job-details-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  /* padding: 2em 0; */
}

.w-d-job-details-description-bulletpoint ul,
.w-d-job-details-description-bulletpoint h3 {
  text-align: left;
}

@media screen and (max-width: 768px) {
  .w-d-job-details {
    padding: 0;
  }

  .w-d-job-details-description {
    padding: 0;
  }
}
/*----------------------------------------------------------------------------------------*/
