/*----------------------------------------------------------------------------------------*/
/*Nav bar*/
.unique {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  position: fixed;
  padding: 0 3%;

  z-index: 3;

  /* Transparent background */
  /* background-color: rgba(255, 255, 255, 0.6);  */
  backdrop-filter: blur(10px); /* Blurs the content behind the navbar */
  -webkit-backdrop-filter: blur(10px); /* For Safari support */
}

nav h4 {
  align-items: flex-start;
  padding-left: 20px;
}

nav ul {
  /* list-style-type: none; */
  margin: 0;
  padding-left: 0;
  /* padding-right: 20px; */
}

nav li {
  display: inline-block;
  padding: 24px 32px 24px 0; 
  font-weight: bold;
}

.nav-bar-text {
  color: var(--text-color);
  font-weight: 600;
  text-decoration: none;
}

.nav-bar-text:hover {
  color: var(--text-color-on-hover);
  border-bottom: 3px var(--text-color-on-hover) solid;
  transform: scale(3);
  font-weight: bold;
  cursor: pointer;
}

nav ul li:last-child {
  display: none;
}

/* @media only screen and (max-width: 600px) {
  nav {
    width: 100vw;
    height: max-content;
    padding: 0 0 0 1%;
  }
} */

@media screen and (max-width: 768px) {
  .topnav li:not(:last-child), .unique>h4 {
    display: none;
  }

  nav {
    width: 100vw;
    height: max-content;
    padding: 0 0 0 1%;
  }

  .topnav li:last-child {
    float: right;
    display: block;
  }

  .mainicon {
    color: var(--text-color);
  } 

  .topnav:not(.responsive) li:not(:last-child) {
    display: none;
  }

  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive li {
    float: none;
    display: inline-block;
    text-align: left;
  }
}
