/*----------------------------------------------------------------------------------------*/
/*Nav bar*/
.unique {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  position: fixed;
  padding: 0 3%;

  z-index: 3;

  /* Transparent background */
  /* background-color: rgba(255, 255, 255, 0.6);  */
  backdrop-filter: blur(10px); /* Blurs the content behind the navbar */
  -webkit-backdrop-filter: blur(10px); /* For Safari support */
}

nav h4 {
  align-items: flex-start;
  padding-left: 20px;
}

nav ul {
  /* list-style-type: none; */
  margin: 0;
  padding-left: 0;
  /* padding-right: 20px; */
}

nav li {
  display: inline-block;
  padding: 24px 32px 24px 0; 
  font-weight: bold;
}

.nav-bar-text {
  color: var(--text-color);
  font-weight: 600;
  text-decoration: none;
}

.nav-bar-text:hover {
  color: var(--text-color-on-hover);
  border-bottom: 3px var(--text-color-on-hover) solid;
  transform: scale(3);
  font-weight: bold;
  cursor: pointer;
}

.topnav li:last-child {
  display: none;
}

.nav-bar-menu-opened {
  display: none;
}


@media screen and (max-width: 768px) {
  .topnav li:not(:last-child) {
    display: none;
  }

  nav {
    width: 100vw;
    height: max-content;
    padding: 0 0 0 5%;
  }

  .topnav li:last-child {
    float: right;
    display: block;
  }

  .mainicon {
    color: var(--text-color);
  } 

  .topnav.responsive li {
    float: none;
    display: inline-block;
    text-align: left;
  }

  .nav-bar-menu-opened {
    z-index: 11;
  
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  
    animation: fadeIn 0.3s ease-in-out;
  }
  
  .nav-bar-menu-sidetab {
    background-color: black;
    overflow-y: auto; /* Enable vertical scrolling */
    width: 80%;
    height: 100%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 11;
    border: 0.5px var(--button-text-color) solid;
  
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }

  .nav-bar-text-on-sidetab {
    color: var(--text-color);
    font-weight: 500;
    text-decoration: none;
    padding: 0;
  }

  .nav-bar-text-on-sidetab:hover {
    color: var(--text-color-on-hover);
    text-decoration: underline;
    font-weight: bold;
  }

  .nav-bar-menu-sidetab li {
    padding-left: 15%;
    text-align: left;
  }
  
  @keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }

  .close-button-area {
    width: 20%;
    padding-top: 20px;
    flex-direction: row;
    justify-content: flex-end;
  }
  
}
